<!DOCTYPE html>
<html>

<head th:replace="site/layouts/header :: header"></head>

<body>
<div th:replace="site/layouts/navbar :: navbar"></div>

<div id="contact-sec">
    <div class="overlay">
        <div class="container set-pad">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line" >Enter your credentials</h1>
                </div>

            </div>
            <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.5s" >
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <form action="#" method="POST" th:action="@{/login}" th:object="${credentials}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" required="required" placeholder="Username" th:field="*{username}" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" required="required"  placeholder="Password" th:field="*{password}" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block btn-lg">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="site/layouts/footer :: footer"></div>
<script th:replace="site/layouts/toast :: toast"></script>

</body>
</html>
