<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>

<body id="page-top">
<div id="wrapper">
    <ul th:replace="dashboard/layouts/sidebar :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="dashboard/layouts/navbar :: navbar"></nav>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Add Subject</h1>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Subject creation form</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/dashboard/add/subject}" th:object="${subject}">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control" required="required" placeholder="Name" th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="subjectCode">Subject Code</label>
                                <input type="text" id="subjectCode" class="form-control" required="required" placeholder="Code" th:field="*{code}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="dashboard/layouts/footer :: footer"></footer>
    </div>
</div>

<a th:replace="dashboard/layouts/scrollToTop :: scrollToTop"> </a>
<div th:replace="dashboard/layouts/logoutModal :: logoutModal"></div>
<script th:replace="site/layouts/toast :: toast"></script>
</body>

</html>
