<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>

<body id="page-top">
<div id="wrapper">
    <ul th:replace="dashboard/layouts/sidebar :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="dashboard/layouts/navbar :: navbar"></nav>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${sessionObj.startYear}"></h1>
                    <a th:href="${'/dashboard/manage/session/' + sessionObj.id + '/delete'}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Delete Session</a>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Info</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>Start Year</td>
                                    <td th:text="${sessionObj.startYear}"></td>
                                </tr>
                                <tr>
                                    <td>Is Complete</td>
                                    <td th:if="${sessionObj.isComplete}">Yes</td>
                                    <td th:unless="${sessionObj.isComplete}">No</td>
                                </tr>
                                <tr>
                                    <td>Registrations Open</td>
                                    <td th:if="${sessionObj.registrationsOpen}">Yes</td>
                                    <td th:unless="${sessionObj.registrationsOpen}">No</td>
                                </tr>
                                <tr>
                                    <td>Actions</td>
                                    <td>
                                        <a th:if="${sessionObj.registrationsOpen}" class="btn-sm btn-danger" th:href="${'/dashboard/manage/session/' + sessionObj.id + '/toggleRegistrations'}">Close Registrations</a>
                                        <a th:unless="${sessionObj.registrationsOpen}" class="btn-sm btn-success" th:href="${'/dashboard/manage/session/' + sessionObj.id + '/toggleRegistrations'}">Open Registrations</a>
                                        <a th:if="${sessionObj.isComplete}" class="btn-sm btn-primary" th:href="${'/dashboard/manage/session/' + sessionObj.id + '/toggleCompletion'}">Resume Session</a>
                                        <a th:unless="${sessionObj.isComplete}" class="btn-sm btn-primary" th:href="${'/dashboard/manage/session/' + sessionObj.id + '/toggleCompletion'}">Complete Session</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Semesters</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" th:href="${'/dashboard/manage/session/' + sessionObj.id + '/add/semester'}">Add Semester</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="semesterTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Fee</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="semester: ${semesters}">
                                    <td th:text="${semester.name}"></td>
                                    <td th:text="${semester.fee}"></td>
                                    <td>
                                        <a th:href="${'/dashboard/manage/session/' + sessionObj.id + '/semester/' + semester.id}" class="btn-sm btn-primary">
                                            <span class="text">Manage</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function () {
                                    $('#semesterTable').DataTable();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Students</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="studentTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Roll no.</th>
                                    <th>Name</th>
                                    <th>Phone no.</th>
                                    <th>Major</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="student: ${students}">
                                    <td th:text="${student.rollNo}"></td>
                                    <td th:text="${student.name}"></td>
                                    <td th:text="${student.phone}"></td>
                                    <td th:text="${student.major.name}"></td>
                                    <td>
                                        <a th:href="${'/dashboard/manage/student/' + student.rollNo}" class="btn-sm btn-primary">
                                            <span class="text">Manage</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function () {
                                    $('#studentTable').DataTable();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Registration Applications</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Phone no.</th>
                                    <th>Interested Majors</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="applicationObj: ${applications}" th:unless="${applicationObj.student}">
                                    <td th:text="${#dates.format(applicationObj.date, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${applicationObj.name}"></td>
                                    <td th:text="${applicationObj.phone}"></td>
                                    <td th:text="${applicationObj.interestedMajors}"></td>
                                    <td>
                                        <a th:href="${'/dashboard/manage/session/' + sessionObj.id + '/application/' + applicationObj.id}" class="btn-sm btn-primary">
                                            <span class="text">Manage</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer th:replace="dashboard/layouts/footer :: footer"></footer>
    </div>
</div>

<a th:replace="dashboard/layouts/scrollToTop :: scrollToTop"> </a>
<div th:replace="dashboard/layouts/logoutModal :: logoutModal"></div>
<script th:replace="site/layouts/toast :: toast"></script>
</body>

</html>
