<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>

<body id="page-top">
<div id="wrapper">
    <ul th:replace="dashboard/layouts/sidebar :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="dashboard/layouts/navbar :: navbar"></nav>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${semester.name}"></h1>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Semester Info</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td th:text="${semester.name}"></td>
                                </tr>
                                <tr>
                                    <td>Fee</td>
                                    <td th:text="${semester.fee}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Subjects Registered</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="subjectTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Grade</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="subjectRegistration: ${semesterRegistration.subjectRegistrations}">
                                    <td th:text="${subjectRegistration.subject.code + ' - ' + subjectRegistration.subject.name}"></td>
                                    <td th:if="${subjectRegistration.result}" th:text="${subjectRegistration.result.grade}"></td>
                                    <td th:unless="${subjectRegistration.result}">Not graded</td>
                                    <td>
                                        <a th:href="${'/dashboard/student/subject/' + subjectRegistration.id}" class="btn-sm btn-primary">
                                            <span class="text">View</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function () {
                                    $('#subjectTable').DataTable();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Fee transactions</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" th:href="${'/dashboard/student/semester/' + semester.id + '/add/fee'}">Add Fee</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Transaction Id</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="feeTransaction: ${feeTransactions}">
                                    <td th:text="${#dates.format(feeTransaction.date, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${feeTransaction.transactionId}"></td>
                                    <td th:text="${feeTransaction.amount}"></td>
                                    <td>
                                        <a th:href="${'/dashboard/student/semester/' + semester.id + '/fee/' + feeTransaction.id + '/delete'}" class="btn-sm btn-danger">
                                            <span class="text">Delete</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer th:replace="dashboard/layouts/footer :: footer"></footer>
    </div>
</div>

<a th:replace="dashboard/layouts/scrollToTop :: scrollToTop"> </a>
<div th:replace="dashboard/layouts/logoutModal :: logoutModal"></div>
<script th:replace="site/layouts/toast :: toast"></script>
</body>

</html>
