<head th:fragment="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Institute Management</title>
    <link href="/site/css/bootstrap.css" rel="stylesheet" />
    <link href="/site/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/site/css/flexslider.css" rel="stylesheet" />
    <link href="/site/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />

    <!--  Template Js  -->
    <script src="/site/js/jquery-1.10.2.js"></script>
    <script src="/site/js/bootstrap.js"></script>
    <script src="/site/js/jquery.flexslider.js"></script>
    <script src="/site/js/scrollReveal.js"></script>
    <script src="/site/js/jquery.easing.min.js"></script>
    <script src="/site/js/custom.js"></script>

    <!--  Izitoast  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous"></script>
</head>
